.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding-top: 60px;
  padding-bottom: 120px;
  margin-bottom: 150px;
  position: relative;
}
.main::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: #D8D8D8;
  mix-blend-mode: normal;
  opacity: 0.22;
}
.main__title {
  max-width: 473px;
  font-weight: bold;
  font-size: 96px;
  line-height: 144px;
  color: #999999;
  z-index: 2;
}
.main__subtitle {
  max-width: 554px;
  line-height: 36px;
  letter-spacing: 0.385714px;
  color: #6D6D6D;
}
.main__data {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 6.33143px;
  color: #000000;
  margin-top: 35px;
}
.main__partition {
  height: 238px;
  width: 1px;
  background-color: #D8D8D8;
}

.nav {
  margin-bottom: 99px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 6.33143px;
  margin-left: 65px;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__link {
  color: #000000;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work {
  margin-bottom: 100px;
}
.work__place {
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.642857px;
  color: #6D6D6D;
  margin-bottom: 6px;
}
.work__date {
  line-height: 36px;
  letter-spacing: 0.385714px;
  color: #7E7C7C;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.work__description {
  line-height: 33px;
  letter-spacing: 0.385714px;
  color: #6D6D6D;
}
.work__stack-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}
.work__stack-item {
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 0.257143px;
  color: #666666;
  padding: 0 14px;
  background: #EDEDED;
  border-radius: 16px;
  margin-right: 16px;
}
.work .grid {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  row-gap: 60px;
  margin-top: 50px;
}

.title {
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
  color: #999999;
}

.projects__title {
  margin-bottom: 52px;
}
.projects__item {
  margin-bottom: 120px;
}
.projects__item-img {
  border-radius: 15%;
  width: 100%;
  max-width: 662px;
}
.projects__item-link {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 10px;
  background-color: #666666;
  color: #fff;
  border: 2px solid #666666;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.projects__item-link:hover {
  color: #666;
  background-color: #fff;
}
.projects__item-info_left {
  text-align: right;
}
.projects__item-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: -0.257143px;
  color: #999999;
  margin-bottom: 34px;
}
.projects__item-subtitle {
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.385714px;
  color: #6D6D6D;
  max-width: 405px;
}

.about__title {
  margin-bottom: 34px;
}
.about__subtitle {
  margin-bottom: 50px;
}
.about__text {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.385714px;
  color: #6D6D6D;
}
.about__bg {
  height: 286px;
  background-image: url(../img/bg-about.png);
  position: relative;
}

.info {
  position: absolute;
  background: #FFE8E8;
  padding: 40px 80px 40px 40px;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  left: 55%;
}
.info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 6.33143px;
  color: #7E7C7C;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-bottom: 3px;
}
.info__value {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.385714px;
  color: #2E2E2E;
  margin-bottom: 18px;
}
.info__value:last-child {
  margin: 0;
}
