
@media only screen and (max-width: 1000px) {
    .title {
        font-size: 72px;
    }
    .main {
        margin-bottom: 80px;
        &__title {
            font-size: 76px;
            line-height: 100px;
        }
        &__partition {
            margin: 0 55px 0 25px;
        }
    }
    .work {
        .grid {
            grid-template-columns: 0.4fr 1fr;
        }
    }
    .projects {
        &__item {
            margin-bottom: 80px;
        }
        &__item-title {
            font-size: 48px;
            line-height: 50px;
            margin-bottom: 18px;
        }
        &__item-subtitle {
            font-size: 16px;
        }
        &__item-img {
            width: 405px;
        }
        &__item-info_right {
            margin-left: 50px;
        }
        &__item-info_left {
            margin-right: 50px;
        }
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .title {
        font-size: 52px;
        line-height: 76px;
    }
    .main {
        &__title {
            font-size: 56px;
            line-height: 72px;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 28px;
        }
        &__data {
            margin-top: 20px;
        }
    }
    .work {
        &__place {
            font-size: 26px;
            line-height: 26px;
        }
        &__date {
            line-height: 24px;
        }
        &__description {
            font-size: 16px;
        }
        &__stack-item {
            margin-right: 10px;
            white-space: nowrap;
        }
    }
    .projects {
        &__title {
            margin-bottom: 20px;
        }
        &__item {
            margin-bottom: 50px;

            &-title {
                font-size: 30px;
                line-height: 25px;
            }
            &-subtitle {
                font-size: 15px;
                line-height: 26px;
            }
            &-link {
                margin-top: 20px;
            }
        }
    }
    .about {
        padding-bottom: 50px;
        &__title {
            margin-bottom: 10px;
        }
        &__text {
            font-size: 16px;
            line-height: 26px;
        }
        .info {
            padding: 24px 60px 25px 40px;
            &__title {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 4.33143px;
            }
            &__value {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &__bg {
            height: 230px;
        }
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 690px) {
    .main {
        .nav__item {
            font-size: 14px;
                margin-left: 35px;
        }
		&__title {
            font-size: 42px;
            line-height: 56px;
        }

		&__partition {
            margin: 0 30px 0 25px;
            height: 170px;
        }

		&__subtitle {    
        line-height: 24px;  
        }

		&__data {
            margin-top: 10px;
            font-size: 12px;
            letter-spacing: 4.33143px;
        }
    }
    .title {
        font-size: 44px;
        line-height: 44px;
    }

    .work {
        .grid {
            margin-top: 36px;
            grid-template-columns: 1fr;
            row-gap: 18px;
        }
        .grid-right {
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebe0e0;
        }
            &__place {
                font-size: 22px;
            }
            &__date {
                line-height: 14px;
                font-size: 14px;
            }
            &__description {
                line-height: 20px;
            }
            &__stack-item {
                font-size: 12px;
                padding: 0 10px;
                border-radius: 10px;
            }
    }
    .projects {
        margin-bottom: 100px;
        .flex-box {
            flex-flow: column-reverse;
            &-reverse {
                flex-flow: column wrap;
            }
        }
            &__title {
                margin-bottom: 40px;
            }
            &__img {
                max-width: 100%;
                max-height: 335px;
                border-radius: 9%;
            }

            &__item-img {
                width: 100%;
            }

            &__item-info {
                margin-bottom: 50px;
                text-align: center;
                margin-left: 0;
                margin-right: 0;
            }
    }
    .about {
            &__title {
                margin-bottom: 40px;
            }
            &__text {
                font-size: 14px;
                line-height: 24px;
            }

            &__bg {
                height: 165px;
            }
            .info {
                padding: 14px 30px 14px 30px;
                &__title {
                    font-size: 12px;
                    line-height: 16px;
                }
    
                &__value {
                    font-size: 14px;
                    line-height: 20px;
                }
        }
    }
}

@media only screen and (max-width: 603px) {
    .main {
        padding-top: 50px;
        padding-bottom: 75px;
        .flex-box {
            flex-flow: column wrap;
            text-align: center;
        }
        &__partition {
            height: 1px;
            width: 50%;
            margin: 30px 0;
        }
    }
    .work__stack-list {
        flex-wrap: wrap;
    }
    .work__stack-item {
        margin-bottom: 10px;
    }
    .work {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 520px) {
    .info {
        right: auto;
        left: 50%;
        transform: translate(-50%, 39%);
    }
    .about__additional {
        margin-top: 90px;
    }
}
@media only screen and (max-width: 480px) {
    .title {
        font-size: 38px;
        line-height: 38px;
    }
    .main {
        .nav__item {
            margin-left: 26px;
        }
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
        &__partition {
            margin: 26px 0;
        }
    }
    .work {
        &__place {
            font-size: 20px;
            line-height: 22px;
        }
        &__description {
            font-size: 14px;
        }
    }
    .projects {
        &__item-title {
            font-size: 26px;
            line-height: 26px;
        }
        &__item-subtitle {
            font-size: 14px;
        }
        &__item-link {
            font-size: 14px;
        }
        &__img {
            max-height: 254px;
        }
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 400px) {
    .main {
        .nav__list {
            justify-content: center;
        }
        
    }
    .info__value {
        margin-bottom: 10px;
    }
    .projects {
        margin-bottom: 75px;
    }
}
@media only screen and (max-width: 380px) { 
    .main .nav__item {
        font-size: 13px;
        margin-left: 20px;
    }
}
